/* Body and html */
body {
    background: var(--tone8);
    font-family: Lato-Regular, sans-serif;
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}

/* Placeholder */
table {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

/* Root variables*/
:root {
    --tone9:#000712;
    --tone8:#001234;
    --tone7:#20304d;
    --tone6:#404d67;
    --tone5:#606b80;
    --tone4:#80899a;
    --tone3:#9fa6b3;
    --tone2:#bfc4cc;
    --tone1:#dfe1e6;
}

/* Fonts */
@font-face {
    font-family: Lato-Black;
    src: url(Lato/Lato-Black.ttf);
 }

 @font-face {
    font-family: Lato-Black;
    src: url(Lato/Lato-Black.ttf);
 }

@font-face {
    font-family: Lato-Regular;
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
 }

@font-face {
    font-family: Lato-Light;
    src: url(Lato/Lato-Light.ttf);
 }

@font-face {
    font-family: Lato-Thin;
    src: url(Lato/Lato-Thin.ttf);
 }

/* Loading welcome screen CSS */
.splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--tone9);
    z-index: 200;
    color: var(--tone1);
    text-align: right;
    line-height: 90vh;
}

.splashScreen.displayNone {
    background: transparent;
    line-height: 10vh;
    transition: all ease 1s;
    left: 0%;
    width: 100%;
    z-index: -10;
}

.ryo {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(50% + 100px);
    height: 100vh;
    background: 0;
    z-index: 200;
    color: var(--tone1);
    text-align: right;
    line-height: 90vh;
    font-size: 800%;
}

.ryo.moveLeft {
    position: sticky;
    line-height: 10vh;
    width: 0;
    height: 0vh;
    font-size: 450%;
    left: 1%;
    transition: line-height ease 1000ms, width ease 1650ms, font-size ease 1400ms;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* Navigation bar */
ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    padding-left: 10vw;
    overflow: hidden;
    background-color: var(--tone7);
    line-height: 10vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    margin:0 auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--tone1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 70px;
}

li a:hover:not(.active) {
    color: var(--tone7);
    background-color: var(--tone3);
    transition: all ease 300ms;
}

li a.active {
    color: white;
    background-color: var(--tone5);
    /* font-size: 110%; */
}

/* Home page */
.pageHeading {
    margin-bottom: 100px;
    color: var(--tone1);
}

.pages {
    --pagesHeight: 250px;
    color: var(--tone1);
    width: 90%;
    height: var(--pagesHeight);
    line-height: var(--pagesHeight);
    background: var(--tone6);
    position: inherit;
    /* display: block; */
    margin: auto auto;
    border: var(--tone1) solid 2px;
    box-shadow: 0 0 5px 1px var(--tone2);
    border-radius: 10px;
    transition: all 250ms ease-in-out;
    margin-bottom: 50px;
}

.pages:hover {
    cursor: pointer;
    transform: scale(103%);
    box-shadow: 0 0 20px 2px var(--tone2);
    border: var(--tone1) solid 4px;
}